html {
  background: url("https://images.unsplash.com/photo-1561271748-ad501e2fc1c9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 250px;
    height: 100px;
    background-color: rgb(0, 0, 0,);
    padding: 10px;
    color: white;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
  }

h1:hover {
  background-color: rgb(0, 0, 0, 0.60);
  
}
  
.secondary-container {
  display: flex;
  background-color: rgb(0, 0, 0, 0.80);
  border-radius: 15px 15px 15px 15px;
}

.people-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: antiquewhite;
  text-align: center;
  background-color: #5885af;
  opacity: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 1px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: antiquewhite;
  text-align: center;
  background-color: #5885af;
  opacity: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 0.5px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  
}

.button-container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: rgb(0, 0, 0, 0.75);
  transition: 0.3s;
  border-radius: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 15px 0 15px 0;
  display: flex;
  height: 100%;    
  color: white;
  margin: 0 auto;
  margin-top: 5px;  
  text-align: center;
  font-size: 20px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  
}

.people-button {
  display: flex;
  margin: 0 auto;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.clear-button {
  display: flex;
  margin: 0 auto;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.products-button {
  display: flex;
  margin: 0 auto;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.people-button:hover {
    opacity: 60%;
    font: bold;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
  }

.clear-button:hover {
    opacity: 60%;
    font: bold;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
  }

.products-button:hover {
    opacity: 60%;
    font: bold;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
  }
  
img {
    border-radius: 15px 15px 15px 15px;
    justify-content: space-around;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
  }