h1 {
    color: skyblue;
}

body {
    background-color: green;
}

.dateOfBirth {
    background-color: aquamarine;
}

#city {
    font-size: 30px;
}

.exampleWeGonnaUse {
    background-color: grey;
    height: 200px;
    width: 200px;
    padding: 20px;
}

.paragraphInsideTheDiv {
    background-color: maroon;
    color: white;
    margin: 10px 10px 10px 10px;
    padding: 20px;
}